{% extends "base.html" %}

{% block title %}
    Tracker
{% endblock title %}
{% block content %}
    <div>
        <h1>My Tasks</h1>
        {% if show_my_tasks|default_if_none:"You have no tasks" %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in show_my_tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno:"" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    {% endblock content %}
