{% extends "base.html" %}

{% block title %}
    {{ show_project.name }}
{% endblock title %}
{% block content %}
    <div>
        <h1>{{ show_project.name }}</h1>
        <p>{{ show_project.description }}</p>
        <h2>Tasks</h2>
        <p>
            <nav>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </nav>
        </p>
        <p>{% if show_project.tasks.all|default_if_none:"" %}</p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in show_project.tasks.all %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td>{{ project.assignee }}</td>
                            <td>{{ project.start_date }}</td>
                            <td>{{ project.due_date }}</td>
                            <td>{{ project.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
{% endblock content %}