{% extends "base.html" %}

{% block title %}
    Tracker
{% endblock title %}
{% block content %}
    <div>
        <h1>My Projects</h1>
        <p>
            <nav>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </nav>
        </p>
        {% if list_projects|default_if_none:"You are not assigned to any projects" %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                {% for project in list_projects %}
                    <tbody>
                        <tr>
                            <td>
                                <nav>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </nav>
                            </td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% else %}
            <p>You are not assigned to any projects</p>
        {% endif %}
    </div>
{% endblock content %}